.nav-bar {
  background-color: #232f3e;
  padding: 10px;
}

.nav-bar .nav-link {
  display: inline-block;
  width: auto;
  padding: 5px;
  margin-left: 15px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav-link a {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.nav-link a.selected-link {
  color: #FF0000;
}

.nav-link:hover {
  border: 1px solid #FFFFFF;
}
