<div class="product-container">
  <div class="product">
    <div class="product-image-container">
      <img class="product-image" src="assets/green-tea-1.jpg"/>
    </div>
    <div class="product-details-container">
      <p class="product-title">Dabur Vedic Suraksha Green Tea - 100 tea bags : Immunity Booster with the Goodness of 5 Ayurvedic Herbs</p>
      <div class="review-container">
        <div class="stars">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="star fa fa-star"></span>
        </div>
        <div class="review-count">
          <span>771</span>
        </div>
      </div>
      <div class="price-container">
        <span class="price"><span class="currency">₹</span>400.61</span>
        <span class="price-per-count">(₹4.01/count)</span>
        <span class="actualPrice">₹679</span>
        <span class="discount-percentage">-41%</span>
        <div class="discounts-details">
          <p class="discount-text">Buy 3 items, get 2% off</p>
        </div>
      </div>
      <div class="delivery-container">
        <p class="delivery-details"><span>Get it by</span><span class="delivery-date">Tomorrow, May 11</span></p>
        <p class="delivery-details">FREE Delivery over ₹499. Fulfilled by Amazon</p>
      </div>
    </div>
  </div>
  <div class="product">
    <div class="product-image-container">
      <img class="product-image" src="assets/green-tea-2.jpg"/>
    </div>
    <div class="product-details-container">
      <p class="product-title">Organic India Tulsi Green Tea Lemon Ginger 25 TB</p>
      <div class="review-container">
        <div class="stars">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="star fa fa-star"></span>
        </div>
        <div class="review-count">
          <span>9,103</span>
        </div>
      </div>
      <div class="price-container">
        <span class="price"><span class="currency">₹</span>169</span>
        <span class="price-per-count">(₹6.76/count)</span>
        <span class="actualPrice">₹194</span>
        <span class="discount-percentage">-13%</span>
        <div class="discounts-details">
          <p class="discount-text">Save 5% more with Subscribe & Save</p>
        </div>
      </div>
      <div class="delivery-container">
        <p class="delivery-details"><span>Get it by</span><span class="delivery-date">Tomorrow, May 11</span></p>
        <p class="delivery-details">FREE Delivery over ₹499. Fulfilled by Amazon</p>
      </div>
    </div>
  </div>
  <div class="product">
    <div class="product-image-container">
      <img class="product-image" src="assets/green-tea-3.jpg"/>
    </div>
    <div class="product-details-container">
      <p class="product-title">ORGANIC INDIA Tulsi Original Tea 25 Infusion Tea Bags</p>
      <div class="review-container">
        <div class="stars">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="star fa fa-star"></span>
        </div>
        <div class="review-count">
          <span>6,248</span>
        </div>
      </div>
      <div class="price-container">
        <span class="price"><span class="currency">₹</span>159</span>
        <span class="price-per-count">(₹6.36/count)</span>
        <span class="actualPrice">₹168</span>
        <span class="discount-percentage">-5%</span>
        <div class="discounts-details">
          <p class="discount-text">Save 5% more with Subscribe & Save</p>
        </div>
      </div>
      <div class="delivery-container">
        <p class="delivery-details"><span>Get it by</span><span class="delivery-date">Tomorrow, May 11</span></p>
        <p class="delivery-details">FREE Delivery over ₹499. Fulfilled by Amazon</p>
      </div>
    </div>
  </div>
  <div class="product">
    <div class="product-image-container">
      <img class="product-image" src="assets/green-tea-4.jpg"/>
    </div>
    <div class="product-details-container">
      <p class="product-title">Tetley Green Tea Immune with added Vitamin C, Lemon and Honey, 100 Tea Bags</p>
      <div class="review-container">
        <div class="stars">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="star fa fa-star"></span>
        </div>
        <div class="review-count">
          <span>19,377</span>
        </div>
      </div>
      <div class="price-container">
        <span class="price"><span class="currency">₹</span>401</span>
        <span class="price-per-count">(₹4.01/count)</span>
        <span class="actualPrice">₹500</span>
        <span class="discount-percentage">-20%</span>
        <div class="discounts-details">
          <p class="discount-text">Save extra with Cashback</p>
          <p class="discount-text">Save 5% more with Subscribe & Save</p>
        </div>
      </div>
      <div class="delivery-container">
        <p class="delivery-details"><span>Get it by</span><span class="delivery-date">Tomorrow, May 11</span></p>
        <p class="delivery-details">FREE Delivery over ₹499. Fulfilled by Amazon</p>
      </div>
    </div>
  </div>
</div>
