.content {
  background-color: #EAEDED;
  padding: 10% 10%;
}

.content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  place-content: space-between;
}

.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product-list-container {
  flex: 0 0 45%;
}

.product-details-container {
  flex: 0 0 55%;
}


