<div class="content-container">
  <app-two-col-ad
    *ngFor="let adContainer of adsContainers"
    [ads]="adContainer.ads"
    [title]="adContainer.title"
    [linkName]="adContainer.linkName"
    [linkURL]="adContainer.linkURL"
    [buttonName]="adContainer.buttonName"
    [buttonURL]="adContainer.buttonURL"
  ></app-two-col-ad>
</div>
<div>
  <app-carousel
    *ngFor="let carousel of carousels"
    [title]="carousel.title"
    [linkName]="carousel.linkName"
    [linkURL]="carousel.linkURL"
    [items]="carousel.items"
    (carouselItemClicked)="showDetails($event)"
  ></app-carousel>
</div>
<div class="details-container">
  <mat-card>
    <app-details [item]="clickedItem"></app-details>
  </mat-card>
</div>
<!--To add a advertisement container-->
<div>
  <!-- <app-add-ad-container></app-add-ad-container> -->
  <app-add-product></app-add-product>
</div>

<div class="shipping-details-container">
  <app-shipping-details></app-shipping-details>
</div>

<mat-card>
  <div>
    <p appBlockCopyPaste>Account Number: 1234456</p>
  </div>

  <div>
    <p appElementStyler>Element Styler</p>
  </div>
</mat-card>
